__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
.venv/
.ipynb_checkpoints/
.env
.env.*
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
.vscode/
.idea/
# data/*.parquet
# data/*.csv
# data/*.xlsx
# data/*.json
# !data/.gitkeep
*.pkl
*.joblib
*.model
# data/*.png
# data/*.jpg
.streamlit/secrets.toml
.cache/